<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blanket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BlanketPlus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>TempCamUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>581DA3A81E70D66B0051C64B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>581DA3BF1E70D66C0051C64B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>581DA3CA1E70D66C0051C64B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>583289E21FB4A1D70049E468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
